<p>content-creator-component works!</p>

<button routerLink="/home">Vissza</button>

<div class="add-note-button-wrap">
  <button class="btn add-note-btn" (click)="addNote()" [disabled]="!isAddCardButtonEnabled" [class.disabled]="!isAddCardButtonEnabled">Új bejegyzés</button>
</div>

<div class="note-cards">
  @for (nc of noteCards(); track nc.id)
  {
  <app-note-card-component [noteCard]="nc" (save)="onSave($event)" (delete)="onDelete($event)"></app-note-card-component>
  } @empty {
  <p class="empty-array-warning">Nincs bejegyzés</p>
  }
</div>
