<div class="registration-site-wrap">
	<div class="registration-box">
		<h2>Regisztráció</h2>
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<div class="username-wrap">
				<label for="username">Felhasználónév:</label>
				<input type="text" id="username" formControlName="username" />
			</div>
			<div class="password-wrap">
				<label for="password">Jelszó:</label>
				<input type="password" id="password" formControlName="password" />
			</div>

			<div class="login-btn">
				<button type="submit">Regisztráció</button>
				<!-- [disabled]="registerForm.invalid" -->
			</div>
		</form>

    		<div class="registration-panel">
			<p>Van már fiókod? <a routerLink="/login">Lépj be!</a></p>
		</div>


	</div>
</div>
